@font-face {
    font-family:"PokemonSolid";
    src: url("/fonts/pkmnSolid.ttf");
   }

//mobile
    body{
        font-family: gabriola;
        font-size: 8px;
        box-sizing: border-box;
        margin: 0; 
        padding: 0;
        border:0;
        color: darkblue;  
    }

    .container{
        //background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/repeated-square.png");
        background-attachment: fixed;
        //background-size: 600px 100%;
        display:flex;
        width: 100%;
        //height: 100%;
        position: relative;
    }
    .container:before{
        content: "";
        display: block;
        width: 100%;
        height: 1000vh;
        background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/repeated-square.png");
        position: fixed;
        z-index: -1;

    }
    .left{
        width: 10%;
        border-right: brown solid 0.5vw;
        min-height: 100vh;
    }

    .bubble1{
        display: absolute;
        height: 20px;
        width: 20px;
        background-color: black;
        border-radius: 50px;
        margin-left: 50%;
        margin-top: 30vh;
    }

    .bubble2{
        display: absolute;
        height: 20px;
        width: 20px;
        background-color: black;
        border-radius: 50px;
        margin-left: 50%;
        margin-top: 25vh;
    }

    #name{
        font-size:15px;
        color: blue;
        margin-right: 5%;
        writing-mode: vertical-rl;
        text-orientation: upright;
        padding-top : 20%;
    }

    .right{
        width: 100%;
        
    }

    .title{
        font-size: 5em;
        text-align: center;
        text-decoration: underline;
        margin:0;
    }

    .flex{
        //background-color: chartreuse;
        width: 100%;
    }

    .image {
        background-repeat: no-repeat;
        width: 160px;
        height: 140px;
        margin: auto;
        //background:red;
        position: relative;

    }
    .image img{
        position: absolute;
        width: 100%;
        max-height: 100%;
        //object-fit: cover;
}
    .word{
        text-align: center;
        font-size: 5em;
        letter-spacing: 12px;
        //background-color: coral;
        line-height: 1.75em;
    }
    .letters{
        // margin-left: 15px;
        // margin-right: 15px;
        //background-color: cadetblue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .state{
        font-size: 3em;
        margin-left: 1%;
        //background-color: crimson;
        
    }

    .infoPkmn{
        //background-color: beige;
        font-size: 2.5em;
        line-height: 1em;
        height: 150px;
        display: flex;  
        align-items: center;
        justify-content: center;
        margin-top: 1%;
    }


    .infoPkmn p{
        padding-left: 1%;
    }

    .infoPkmn img{
        height: 100px;
        width: 100px;
        align-items: center;
    }

    .btnReplay{
        background-color: rgb(201, 212, 182);
        font-size: 12.5px;
        margin-left: 0.5%;
        font-weight: bold;
        font-family:gabriola;
        background-color: rgba(0, 255, 255, 0);
        color: rgba(27, 29, 177, 0.911);
        border: solid 2px rgba(27, 29, 177, 0.911);
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    .btnReplay:hover{
        background-color: rgba(27, 29, 177, 0.911);
        color: white;
        border: solid 2px rgb(240, 240, 247);
    }

    .btn{
        display: flex;
        width: 7%;
        height: 50px;
        margin:0.80%;
        background-color: rgb(206, 255, 127);
        align-items: center;
        justify-content: center;
        font-size: 2.75em;
        margin-left: 1.70%;
        font-weight: bold;
        font-family:gabriola;
        background-color: rgba(0, 255, 255, 0);
        color: rgba(27, 29, 177, 0.911);
        border: solid 2px rgba(27, 29, 177, 0.911);
        }
    .btn:hover:enabled{
        background-color: rgba(10, 10, 10, 0.527);
    }

    .btn:disabled{
        text-decoration: line-through;
        background-color: salmon;
        transition-duration: 2s;
    }



//Laptop
@media screen and (min-width: 720px) {

    .title{
        font-size: 6em;
    }

    .left{
        width: 9%;
    }

    #name{
        font-size:3em;
        margin-right: 0;
    }
        
    .word{
        font-size: 8em;
        letter-spacing: 15px;
    }

    .letters{
        margin-left: 2%;
        margin-right: 2%;
    }

    .state{
        font-size: 4em;
        margin-left: 30px;
    }

    .infoPkmn{
        height: 130px;
    }

    .infoPkmn img{
        height: 120px;
        width: 120px;
    }
        
    .image {
        width: 160px;
        height: 140px;
    }

    .btnReplay{
        font-size: 20px;
        writing-mode:horizontal-tb;
        text-orientation:sideways-right;
        margin-left: 5%;
    }
        
}

//Desktop
@media screen and (min-width: 1024px) {

    .title{
        font-size: 7em;
    }

    
    .left{
        width: 8%;
    }
        
    .word{
        font-size: 8em;
        letter-spacing: 20px;
    }

    .letters{
        margin-left: 4%;
        margin-right: 4%;
    }

    .state{
        font-size: 4em;
        margin-left: 35px;
    }

    .infoPkmn{
        height: 130px;
        font-size: 4em;
    }

    .infoPkmn img{
        height: 130px;
        width: 130px;
    }
        
    
    .btn{
        height: 55px;
        font-size: 3.5em;
        border: solid 3px rgba(27, 29, 177, 0.911);
    }

    .btnReplay{
        font-size: 30px;
        }

    .image {
        width: 170px;
        height: 140px;
        }    
    }

//BigDesktop
@media screen and (min-width: 1600px) {

    body{
        padding-left:2.5%;
        padding-right:2.5%;
    }

    .left{
        width: 7%;
    }

    #name{
        font-size:4em;
        margin-right: 0;
    }

    .container:before{
        width: 95%;
    }

    .title{
        font-size: 8em;
    }
        
    .word{
        font-size: 8em;
        letter-spacing: 25px;
    }

    .letters{
        margin-left: 6%;
        margin-right: 6%;
    }

    .state{
        font-size: 3em;
        margin-left: 35px;
    }

    .infoPkmn{
        height: 150px;
        font-size: 4em;
    }
    .infoPkmn img{
        height: 150px;
        width: 150px;
    }
        
    .btn{
        height: 50px;
        font-size: 3em;
        border: solid 3px rgba(27, 29, 177, 0.911);
    }

    .image {
        width: 180px;
        height: 140px;
    }

    .btnReplay{
        font-size: 40px;
    }
           
    }

//VeryBigDesktop
@media screen and (min-width: 1920px) {

    body{
        //background-color: black;
        padding-left:5%;
        padding-right:5%;
    }

    
    .left{
        width: 5%;
    }
    .container:before{
        width: 90%;
    }
    .title{
        font-size: 11em;
    }
        
    .word{
        font-size: 10em;
        letter-spacing: 30px;
    }


    .state{
        font-size: 4em;
        margin-left: 55px;
    }

    .infoPkmn{
        height: 200px;
    }

    .infoPkmn img{
        height: 200px;
        width: 200px;
    }
        
    .btn{
        height: 65px;
        font-size: 3.5em;
        border: solid 3px rgba(27, 29, 177, 0.911);
    }

    .image {
        width: 190px;
        height: 140px;
    }

    .btnReplay{
        font-size: 50px;
    }
           
}

//2k
@media screen and (min-width: 2300px) {

    body {
        //background-color: black;
        padding-left:7.5%;
        padding-right:7.5%;
    }

    .title{
        font-size: 11em;
    }

    .container:before{
        width: 85%;
    }


           
}



  






